.site-overview {
    // Vars

    // Support

    // Module
    & {
        .site-overview--title {
            display: flex;
            justify-content: space-between;
            margin-bottom: calc(var(--root-spacing) * 2);
        }
    }

    // Facets

    // States
}
