.site-overview {
    // Vars

    // Support

    // Module
    & {
        & {
            position: relative;
        }

        .site-overview--title {
            display: flex;
            justify-content: space-between;
        }
    }

    // Facets

    // States
}
