.loading-indicator {
    // Vars
    --loading-indicator--color: var(--color--primary);
    --loading-indicator--size: 13px;

    // Support

    // Module
    & {
        & {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 80px;
        }

        .loading-indicator--bar {
            position: absolute;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            width: var(--loading-indicator--size);
            height: var(--loading-indicator--size);
            border-radius: 50%;
            background: var(--loading-indicator--color);
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }

        .loading-indicator--bar {
            &:nth-child(1) {
                left: 8px;
                animation: lds-ellipsis1 600ms infinite;
            }

            &:nth-child(2) {
                left: 8px;
                animation: lds-ellipsis2 600ms infinite;
            }

            &:nth-child(3) {
                left: 32px;
                animation: lds-ellipsis2 600ms infinite;
            }

            &:nth-child(4) {
                left: 56px;
                animation: lds-ellipsis3 600ms infinite;
            }
        }
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: translate3d(0, -50%, 0) scale(0);
        }

        100% {
            transform: translate3d(0, -50%, 0) scale(1);
        }
    }

    @keyframes lds-ellipsis3 {
        0% {
            transform: translate3d(0, -50%, 0) scale(1);
        }

        100% {
            transform: translate3d(0, -50%, 0) scale(0);
        }
    }

    @keyframes lds-ellipsis2 {
        0% {
            transform: translate3d(0, -50%, 0);
        }

        100% {
            transform: translate3d(24px, -50%, 0);
        }
    }

    // Facets
    &.loading-indicator__small {
        height: 40px;
        --loading-indicator--size: 8px;
    }

    // States
}
