.app-layout {
    // Vars
    --app-layout--header-height: var(--root-sites--header-height);
    --app-layout--content-background: var(--color--background-color);
    --app-layout--edge-gutter: calc(var(--root-spacing) * 2);
    --app-layout--edge-gutter-md: calc(var(--root-spacing) * 4);
    // Support

    // Module
    & {
        & {
            //display: flex;
            min-height: 100%;
        }

        .app-layout--content-wrapper {
            background-color: var(--app-layout--content-background);
            width: 100%;
        }

        .app-layout--content {

            padding: var(--app-layout--header-height) var(--app-layout--edge-gutter);
        }
    }

    // Facets
    &.app-layout__login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('https://images.unsplash.com/photo-1582488719899-a2a54cb479fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1578&q=80');

        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;

        @include is-dark {
            background-image: url('https://images.unsplash.com/photo-1536125434175-6c5657605fb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
        }
    }
}
