.app-layout {
    // Vars
    --app-layout--header-height: var(--root-sites--header-height);
    --app-layout--content-background: var(--color--background-color);
    --app-layout--edge-gutter: calc(var(--root-spacing) * 2);
    --app-layout--edge-gutter-md: calc(var(--root-spacing) * 4);
    // Support

    // Module
    & {
        & {
            //display: flex;
            min-height: 100%;
        }

        .app-layout--content-wrapper {
            background-color: var(--app-layout--content-background);
            width: 100%;
        }

        .app-layout--content {

            padding: var(--app-layout--header-height) var(--app-layout--edge-gutter);
        }
    }

    // Facets

    // States
}
