.app.app {
    // Vars
    --app--header-height: var(--root-sites--header-height);
    --app--content-background: var(--root-color--app-content-background);
    --app--edge-gutter: calc(var(--root-spacing) * 2);

    // Support

    // Module
    & {
        & {
            display: grid;
            min-height: 100%;
            grid-template-areas: 'sidenav content';
            grid-template-columns: 2fr 10fr;

            @include mq('<=lg') {
                display: flex;
                width: 100%;
                grid-template-areas: '. content';
                grid-template-columns: 12fr;
            }
        }

        .app--content-wrapper {
            background-color: var(--app--content-background);
            width: 100%;
        }

        .app--content {
            max-width: 1440px;
            margin: 0 auto;
            padding: var(--app--header-height) var(--app--edge-gutter);

            @include mq('xl') {
                max-width: 1120px;
            }

            @include mq('lg') {
                max-width: 980px;
            }

            @include mq('md') {
                max-width: 678px;
            }
        }
    }

    // Facets

    // States
}
