@import "colors/dark";
@import "colors/light";


:root {
    --color-mono-white: rgba(255, 255, 255, 0.9);
    --color-mono-black: rgba(51, 51, 51, 0.9);
    --color-mono-light-gray: #c1c1c1;

    --color--medium-emphasis: rgba(0, 0, 0, 0.6);

    --color--divider: rgba(0, 0, 0, 0.1);
    --color--background-color: rgb(242, 243, 248);
    --color--text-color: var(--color-mono-black);

    --color--primary: #2d4059;
    --color--primary-light: #6583ba;
    --color--primary-text: var(--color-mono-white);

    --color--secondary: #59abaa;
    --color--secondary-text: var(--color-mono-white);

    --color--surface: #ffffff;

    // Signal
    --color--signal-error: #f66363;
    --color--signal-error-input: #ffb5b5;
    --color--signal-error-text: var(--color-mono-white);

    --color--signal-success: #48ad67;
    --color--signal-success-text: var(--color-mono-white);

    --color--signal-warning: #ffa72b;
    --color--signal-warning-text: var(--color-mono-white);

    // Error Message
    --color--error-background: #efb8b8;
    --color--error-text: var(--color--signal-error);

    // Lists
    --color--list--item-even: rgba(58, 80, 107, 0.1);

    // CHARTS
    --color--chart-color-1: var(--color--primary);
    --color--chart-color-2: var(--color--secondary);
    --color--chart-color-3: #dd4e7b;
    --color--chart-color-4: rgba(67, 97, 238, 0.8);
    --color--chart-color-5: #59abaa;
    --color--chart-color-6: rgba(61, 194, 130, 0.91);

    // Icons
    --uni-color-primary: var(--color--primary);

    //input
    --color--input-background: var(--color--background-color);
    --color--input-active-background: var(--color--background-color);
    --color--input-text-color: var(--color--text-color);


    // buttons
    --color--btn--text: var(--color-mono-light-gray);
    --color--btn--disabled-background: var(--color-mono-light-gray);

    --color--btn--primary-background: var(--color--primary);
    --color--btn--primary-hover-background: var(--color--primary-light);
    --color--btn--primary-text: var(--color-mono-white);
}
