:root {
    --color-mono-white: #ffffff;
    --color-mono-black: #333;
    --color-mono-gray: #6c6c6c;
    --color-mono-light-gray: #c1c1c1;

    --color-body: #fff;
    --color-hover: #e0e0e0;

    --root-color--primary: rgb(191, 78, 255);
    --root-color--divider: #6c6c6c;

    --root-color--tile-background: rgba(255, 255, 255, 1);




    // Signal
    --root-color--signal-error: #f66363;
}
