@mixin Headline1() {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 9.6rem;
    letter-spacing: -1.5px;
    line-height: 1.2;
}

@mixin Headline2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 6.0rem;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

@mixin Headline3 {
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2;
}

@mixin Headline4 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.4rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 1.2;
}

@mixin Headline5 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2;
}

@mixin Headline6 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.15px;
    line-height: 1.2;
}

@mixin Subtitle1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 1.2;
}

@mixin Subtitle2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 1.2;
}

@mixin Body1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

@mixin Body2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 1.2;
}

@mixin Button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.25px;
    line-height: 1.2;
}

@mixin Caption {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
}

@mixin Overline {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.2;
    text-transform: uppercase;
}
