:root {
    --root-index--navigation-backdrop: 2;
    --root-index--navigation: 3;
    --root-index--navigation-mobile-toggle: 3;
    --root-index--navigation-mobile-toggle-btn: 4;
    --root-index--overlay-backdrop: 10;
    --root-index--overlay-content: 11;
}
