.link {
    // Vars
    --link--color: var(--color--link-text-color);
    --link--focus-color: var(--color--link-focus-text-color);
    --link--line-width: 2px;

    // Support

    // Module
    & {
        & {
            color: var(--link--color);
            position: relative;
            text-decoration: underline;
            font-weight: bold;

            &:hover {
                color: var(--link--focus-color);
            }
        }
    }

    // Facets

    // States
}
