.link {
    // Vars
    --link--color: var(--color--primary);
    --link--focus-color: var(--color--primary-light);
    --link--line-width: 2px;

    // Support

    // Module
    & {
        & {
            color: var(--link--color);
            position: relative;
            font-weight: 700;

            &:hover {
                color: var(--link--focus-color);
                text-decoration: underline;
            }
        }
    }

    // Facets

    // States
}
