.chart-placeholder {
    // Vars

    // Support

    // Module
    & {
        & {
            display: grid;
            width: 100%;
            height: 350px;
            justify-content: center;
            align-content: center;
        }
    }

    // Facets

    // States
}
