.project {
    // Vars

    // Support

    // Module
    & {
        .project--title {
            margin-bottom: 24px;
        }

        .project--overview {
            display: grid;
            grid-template-areas: '. .';
            grid-template-columns: 6fr 6fr;
            grid-template-rows: 12fr;
            column-gap: var(--root-spacing);
            row-gap: var(--root-spacing);

            @include mq('<=md') {
                grid-template-areas: '.';
                grid-template-columns: 12fr;
            }
        }

        .project--history {
            margin-top: var(--root-spacing);
        }

        .project--insights {
            flex: 0 0 80%;
            padding-right: calc(var(--root-spacing) * 0.5);

            @include mq('<=md') {
                order: 2;
                flex: 0 0 100%;
                padding-right: 0;
            }
        }

        .project--sidebar {
            flex: 0 0 20%;
            padding-left: calc(var(--root-spacing) * 0.5);

            @include mq('<=md') {
                order: 1;
                flex: 0 0 100%;
                padding-left: 0;
                padding-bottom: var(--root-spacing);
            }
        }

        .project--sidebar-section {
            margin-bottom: var(--root-spacing);

            &:last-child {
                margin-bottom: 0;
            }
        }

        .project--settings {
            @include mq('<=md') {
                order: 1;
            }
        }

        .project--average {
            @include mq('<=md') {
                order: 2;
            }
        }

        .project--last-report-radar {
            @include mq('<=md') {
                order: 3;
            }
        }

        .project--content {
            display: flex;
            width: 100%;

            @include mq('<=md') {
                flex-direction: column;
            }
        }
    }

    // Facets

    // States
}
