{% extends '../layout.twig' %}

{% block app_content %}
    <div class="container">
        <div class="changelog u-reset">
            <div></div>
            <component is="changelog"></component>
            <div></div>
        </div>
    </div>
{% endblock %}
