{% extends '../layout.twig' %}

{% block app_content %}
    <div class="projects">
        <p class="u-reset overline">
            All Projects
        </p>

        <component is="sites-provider" class="projects--list">
            <template v-slot="{sites}">
                <component is="latest-report-provider"
                        v-for="site in sites"
                        :key="site.id"
                        :id="site.id">
                    <component
                            slot-scope="{report}"
                            is="site-report-tile"
                            :site="site"
                            :report="report"></component>
                </component>
            </template>
        </component>
    </div>
{% endblock %}
