{% extends '../layout.twig' %}

{% block app_content %}
    <div class="projects">
        <p class="u-reset overline">
            All Projects
        </p>

        <div class="projects--list">
            {% for site in sites %}
                <component is="latest-report-provider"
                        key="{{ site.id }}"
                        id="{{ site.id }}">
                    <component
                            slot-scope="{report}"
                            is="site-report-tile"
                            :site='{{ site | json_encode() }}'
                            :report="report"></component>
                </component>
            {% endfor %}
        </div>
    </div>
{% endblock %}
