{% extends '../layout.twig' %}

{% block app_content %}
    <div class="system">
        <div></div>
        <div class="system--content">
            <component is="system-info-tile"
                    class="system--section"
                    version="{{ VERSION }}">
            </component>

            <component is="worker-info-tile"
                    :info='{{ info | json_encode() }}'>
            </component>

            <component is="tile"
                    title="Links">
                <component is="list">
                    <component is="list-item">
                        <a class="link"
                                href="/app/system/changelog">
                            Changelog
                        </a>
                    </component>
                    <component is="list-item">
                        <a class="link"
                                target="_blank"
                                href="/storybook/index.html">
                            Storybook
                        </a>
                    </component>
                    <component is="list-item">
                        <a class="link"
                                href="/app/system/licenses">
                            Licenses
                        </a>
                    </component>
                </component>
            </component>
        </div>
        <div></div>
    </div>
{% endblock %}
