{% extends '../layout.twig' %}

{% block app_content %}
       <div class="system container">
        <div></div>
        <div class="system--content">
            {% include '../components/version-tile/version-tile.twig' with {version:VERSION, remoteVersion:latestRemoteVersion} %}

            <component is="worker-info-tile"
                    :info='{{ info | json_encode() }}'>
            </component>

            <component is="tile"
                    icon="share-alt"
                    :facets="['no-padding']"
                    title="Links">
                <ul class="list">
                    <li class="list-item">
                        <a class="link"
                                href="/app/system/changelog">
                            Changelog
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="link"
                                target="_blank"
                                href="/storybook/index.html">
                            Storybook
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="link"
                                target="_blank"
                                rel="noopener"
                                href="https://github.com/lighthouse-dashboard/lighthouse-dashboard/projects/1?fullscreen=true">
                            Roadmap
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="link"
                                href="/app/system/licenses">
                            Licenses
                        </a>
                    </li>
                </ul>
            </component>
        </div>
        <div></div>
    </div>
{% endblock %}
