.error-message {
    // Vars
    --error-message--text: var(--color--error-text);
    --error-message--background: var(--color--error-background);
    --error-message--border-radius: var(--root-border-radius);

    // Support

    // Module
    & {
        & {
            display: block;
            padding: var(--root-spacing);
            color: var(--error-message--text);
            background-color: var(--error-message--background);
            border-radius: var(--error-message--border-radius);
        }

        .error-message--text {
            @include Body2;
        }
    }

    // Facets

    // States
}
