.typography {
    // Vars

    // Support

    // Module
    & {
        & {
            display: flex;
            flex-direction: column;
        }

        .typography--entry {
            margin: 24px;
        }
    }

    // Facets

    // States
}
