.notification {
    // Vars
    --notification--vert-bezel: 16px;
    --notification--horiz-bezel: 16px;
    --notification--border-radius: 4px;
    --notification--border-width: 2px;

    // Support

    // Module
    & {
        & {
            z-index: 2;
            background: none;
            overflow: hidden;
            padding: var(--notification--vert-bezel) var(--notification--horiz-bezel);
            transition: background-color 200ms ease-in-out;
            border-radius: var(--notification--border-radius);
            border: solid 1px #ccc;
            white-space: nowrap;
            text-overflow: ellipsis;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .notification--icon {
            margin-right: var(--root-spacing);
        }

        .notification--text {
            @include Body1;

            line-height: 1;
        }
    }

    // Facets

    &.notification__minimal {
        padding: 0;
        border: none;
    }

    &.notification__success {
        --uni-color-primary: var(--color--signal-success);

        border-color: var(--color--signal-success);
        background-color: rgba(var(--color--signal-success-rgb), 0.1);
        color: var(--color--signal-success);
    }

    &.notification__warning {
        --uni-color-primary: var(--color--signal-warning);

        border-color: var(--color--signal-warning);
        background-color: rgba(var(--color--signal-warning-rgb), 0.1);
        color: var(--color--signal-warning);
    }

    &.notification__error {
        --uni-color-primary: var(--color--signal-error);

        border-color: var(--color--signal-error);
        background-color: rgba(var(--color--signal-error-rgb), 0.1);
        color: var(--color--signal-error);
    }

    // States
}
