.notification {
    // Vars
    --notification--vert-bezel: 24px;
    --notification--horiz-bezel: 16px;
    --notification--border-radius: 4px;
    --notification--border-width: 2px;

    // Support

    // Module
    & {
        & {
            display: block;
            background: none;
            overflow: hidden;
            padding: var(--notification--vert-bezel) var(--notification--horiz-bezel);
            transition: background-color 200ms ease-in-out;
            border-radius: var(--notification--border-radius);
            white-space: nowrap;
            text-overflow: ellipsis;
            border: solid var(--notification--border-width);
        }

        .notification--content {
            z-index: 2;

            @include Body1;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .notification--icon {
            margin-right: var(--root-spacing);
        }

        .notification--text {
            margin-top: 2px;
        }
    }

    // Facets
    &.notification__success {
        border-color: var(--color--signal-success);
        background-color: rgba(var(--color--signal-success-rgb), 0.1);
        color: var(--color--signal-success);
        --uni-color-primary: var(--color--signal-success);

    }

    &.notification__warning {
        border-color: var(--color--signal-warning);
        background-color: rgba(var(--color--signal-warning-rgb), 0.1);
        color: var(--color--signal-warning);
        --uni-color-primary: var(--color--signal-warning);
    }

    &.notification__error {
        border-color: var(--color--signal-error);
        background-color: rgba(var(--color--signal-error-rgb), 0.1);
        color: var(--color--signal-error);
        --uni-color-primary: var(--color--signal-error);
    }

    // States
}
