.storybook-layout {
    // Vars

    // Support

    // Module
    & {
        & {
            padding: 80px;
            display: grid;
            grid-template-areas: '. content .';
            grid-template-columns: 4fr 4fr 4fr;
        }

    }

    // Facets

    // States
}
