.scheduled-job-indicator {
    // Vars
    --scheduled-job-indicator--size: 8px;

    // Support

    // Module
    & {
        //width: var(--scheduled-job-indicator--size);
        //height: var(--scheduled-job-indicator--size);
        animation: scheduled-job-indicator--pulsate 2000ms ease-out infinite;
    }

    // Facets

    // States
}

@keyframes scheduled-job-indicator--pulsate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
