.badge {
    // Vars

    // Support

    // Module
    & {
        & {
            z-index: var(--root-index--navigation);
            position: absolute;
            top: -5px;
            right: -20px;
            background-color: var(--color--secondary);
            color: var(--color--secondary-text);
            border-radius: 20px;
            @include Caption;
            padding: 4px 6px;
            transform: translate3d(-50%, -50%, 0);
            box-shadow: var(--root-shadow--1);
        }
    }

    // Facets

    // States
}
