.latest-audits-feed {
    // Vars

    // Support

    // Module
    & {
        .latest-audits-feed--content {
            display: grid;
            grid-template-areas: 'tile1 tile2 tile3 tile4';
            grid-template-columns: repeat(4, 3fr);
            column-gap: calc(var(--root-spacing) * 2);
            row-gap: calc(var(--root-spacing) * 2);

            @include mq('xl') {
                grid-template-areas: 'tile tile tile';
                grid-template-columns: repeat(3, 4fr);
            }

            @include mq('lg') {
                grid-template-areas: 'tile tile tile';
                grid-template-columns: repeat(3, 4fr);
            }

            @include mq('<=md') {
                grid-template-areas: 'tile tile';
                grid-template-columns: repeat(2, 6fr);
            }

            @include mq('<=sm') {
                grid-template-areas: 'tile';
                grid-template-columns: 12fr;
            }
        }

        .latest-audits-feed--title-btn {
            max-width: 200px;
            margin-right: var(--root-spacing);
        }

        .latest-audits-feed--caption {
            margin-top: var(--root-spacing);
        }
    }

    // Facets

    // States
}
