.login-form {
    // Vars
    --login-form--bezel: calc(var(--root-spacing) * 2);

    // Support

    // Module
    & {
        & {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            width: 100%;
            min-width: 320px;
        }

        .login-form--input-wrapper {
            display: flex;
            width: 100%;
            max-width: 280px;
            margin-right: 12px;
            flex-direction: column;
        }
    }

    // Facets

    // States
}
