.input-select {
    // Vars
    --input-select--border-color: var(--root-color--divider);
    --input-select--input-border-radius: 2px;
    --input-select--vert-input-bezel: 12px;
    --input-select--horiz-input-bezel: 16px;
    --input-select--background-active: var(--root-color--input-active-background);
    --input-select--disabled-input-background: var(--root-color--input-disabled-background);

    // Module
    & {
        .input-select--label {
            display: block;
            margin-bottom: var(--root-spacing);
        }

        .input-select--select {
            // stylelint-disable-next-line property-no-vendor-prefix
            -webkit-appearance: none;
            // stylelint-disable-next-line property-no-vendor-prefix
            -moz-appearance: none;

            @include Button;
            display: block;
            width: 100%;
            border: solid 1px var(--input-select--border-color);
            border-radius: var(--input-select--input-border-radius);
            padding: calc(var(--input-select--vert-input-bezel) - 1px) var(--input-select--horiz-input-bezel);
            transition: background-color 200ms;
            cursor: pointer;

            &:focus, &:active, &:hover {
                background-color: var(--input-select--background-active);
            }
        }
    }

    // Facets

    &.input-select__disabled {
        .input-select--label {
            color: var(--input-select--disabled-input-background);
        }

        .input-select--select {
            pointer-events: none;
            background-color: var(--input-select--disabled-input-background);
            border: none;
        }
    }

    // States
}
