.report-table {
    // Vars

    // Support

    // Module
    & {
        .report-table--content {
            display: grid;
            grid-template-areas: 'list detail';
            grid-template-columns: 4fr 8fr;
        }
    }

    // Facets

    // States
}
