.badges-overlay {
    // Vars

    // Support

    // Module
    & {
        .badges-overlay--title {
            margin-top: 24px;
            margin-bottom: 4px;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    // Facets

    // States
}
