.badges-overlay {
    // Vars

    // Support

    // Module
    & {
        .badges-overlay--textarea {
            background-color: transparent;
            width: 100%;
            border: solid 1px var(--color--divider);
            outline: none;
            padding: var(--root-spacing);
        }

        .badges-overlay--title {
            margin-top: 24px;
            margin-bottom: 4px;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    // Facets

    // States
}
