.tile {
    // Vars
    --tile--background-color: var(--color--surface);
    --tile--root-padding: calc(var(--root-spacing) * 2);
    --tile--border-radius: 2px;
    // Support

    // Module
    & {
        & {
            display: flex;
            flex-direction: column;
            border-radius: var(--tile--border-radius);
            background-color: var(--tile--background-color);
            box-shadow: var(--root-shadow--1);
            overflow: hidden;
        }

        .tile--title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var(--tile--root-padding);
            border-bottom: solid 1px var(--color--divider);
        }

        .tile--icon {
            margin-right: calc(var(--root-spacing) * 1);

            &:empty {
                width: 24px;
            }
        }

        .tile--title-left-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: calc(var(--root-spacing) * 1);
        }

        .tile--content {
            display: block;
            padding: var(--tile--root-padding);
            height: 100%;
            flex-grow: 1;
        }

        .tile--caption {
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .tile--footer {
            border-top: solid 1px var(--color--divider);
            padding: var(--tile--root-padding);
            display: flex;
            justify-content: flex-end;

            &:empty {
                display: none;
            }
        }
    }

    // Facets
    &.tile__no-icon {
        .tile--icon {
            display: none;
        }
    }

    &.tile__no-padding {
        .tile--title {
            padding: var(--tile--root-padding) calc(var(--tile--root-padding) / 2);
        }

        .tile--content {
            padding: 0;
        }
    }

    &.tile__centered {
        .tile--content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    // States
}
