.terrain {
    // Vars

    // Support

    // Module
    & {
        position: absolute;
        opacity: 0.1;
        filter: blur(10px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    // Facets

    // States
}
