.section-header {
    // Vars
    --section-header--color: var(--color-mono-gray);

    // Support

    // Module
    & {
        & {
            font-size: 1rem;
            color: var(--section-header--color);
            margin-bottom: var(--root-spacing);
        }
    }

    // Facets

    // States
}
