.site-config {
    // Vars

    // Support

    // Module
    & {
        .site-config--list-item-value {
            display: flex;
            flex-direction: row;;
            align-items: center;
        }
    }

    // Facets

    // States
}
