.site-config {
    // Vars
    --site-config--bezel: calc(var(--root-spacing) * 2);

    // Support

    // Module
    & {
        & {
            padding: var(--site-config--bezel);
        }

        .site-config--list {
            display: block;
        }
    }

    // Facets

    // States
}
