.btn {
    // Vars
    --button--vert-bezel: 12px;
    --button--horiz-bezel: 16px;
    --button--primary-background-color: var(--color--primary);
    --button--primary-text-color: var(--color-mono-white);
    --button--primary-hover-background-color: var(--root-color--primary-hover-background);

    --button--secondary-color: var(--color--secondary);
    --button--secondary-text-color: var(--color--secondary-text);

    --button--danger-color: var(--color--button-danger-color);
    --button--danger-text-color: var(--color--button-danger-text-color);

    --button--flat-color: var(--color--button-flat-color);
    --button--flat-text-color: var(--color--button-flat-text-color);

    --button--disabled: var(--color--button-disabled-background);
    --button--border-radius: 2px;
    --button--underline-height: 4px;

    --button--text-color: var(--color--button-text-primary);
    --button--danger-background-color: var(--root-color--button-danger-background);
    --button--text-color-accent: var(--root-color--button-text-accent-primary);
    --button--vert-main-margin: calc(var(--root-spacing) * 0.5);

    // Support

    // Module
    & {
        & {
            display: block;
            background: none;
            overflow: hidden;
            cursor: pointer;
            border: none;
            padding: var(--button--vert-bezel) var(--button--horiz-bezel);
            transition: all 200ms ease-in-out;
            border-radius: var(--button--border-radius);
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .btn--content {
            z-index: 2;

            @include Button;
            position: relative;
            text-transform: uppercase;
        }
    }

    // Facets
    &.btn__primary {
        & {
            background-color: var(--button--primary-background-color);
            color: var(--button--primary-text-color);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                background-color: var(--button--primary-text-color);
                transition: width 200ms ease-in-out, height 200ms ease-in-out;
            }

            &:hover, &:focus, &.btn__active {
                color: var(--button--primary-background-color);

                &::after {
                    width: 100%;
                    height: calc(100% - var(--button--underline-height));
                }
            }
        }

        &.btn__disabled {
            pointer-events: none;
            background-color: var(--button--disabled-background);
            color: var(--button--text-color);
        }
    }

    &.btn__secondary {
        & {
            background-color: rgba(var(--color--secondary-rgb), 0.1);
            border: solid 1px var(--button--secondary-color);
            color: var(--button--secondary-color);
            padding: calc(var(--button--vert-bezel) - 1px) var(--button--horiz-bezel);

            &:hover, &:focus, &.btn__active {
                background-color: var(--button--secondary-color);
                color: var(--button--secondary-text-color);
            }
        }

        &.btn__disabled {
            pointer-events: none;
            border: solid 1px var(--button--disabled);
            color: var(--button--disabled);
        }
    }

    &.btn__danger {
        color: var(--button--danger-color);

        &:hover, &:focus, &.btn__active {
            color: var(--button--danger-text-color);
            background-color: var(--button--danger-color);
        }
    }

    &.btn__flat {
        color: var(--button--flat-color);

        &:hover, &:focus, &.btn__active {
            background-color: var(--button--flat-color);
            color: var(--button--flat-text-color);
        }

        &.btn__disabled {
            pointer-events: none;
            color: var(--button--disabled-background);
        }
    }

    &.btn__full-width {
        width: 100%;
    }

    // States
}
