.btn {
    // Vars
    --button--vert-bezel: 12px;
    --button--horiz-bezel: 16px;
    --button--primary-background-color: var(--color--primary);
    --button--primary-text-color: var(--color-mono-white);
    --button--primary-hover-background-color: var(--color--primary-light);

    --button--secondary-color: var(--color--secondary);
    --button--secondary-text-color: var(--color--secondary-text);

    --button--danger-color: var(--color--button-danger-color);
    --button--danger-text-color: var(--color--button-danger-text-color);

    --button--flat-color: var(--color--button-flat-color);
    --button--flat-text-color: var(--color--button-flat-text-color);

    --button--disabled: var(--color--button-disabled-background);
    --button--border-radius: 2px;
    --button--underline-height: 4px;

    --button--text-color: var(--color--button-text-primary);
    --button--danger-background-color: var(--root-color--button-danger-background);
    --button--text-color-accent: var(--root-color--button-text-accent-primary);
    --button--vert-main-margin: calc(var(--root-spacing) * 0.5);

    // Support

    // Module
    & {
        & {
            display: block;
            background: none;
            overflow: hidden;
            cursor: pointer;
            border: none;
            padding: var(--button--vert-bezel) var(--button--horiz-bezel);
            transition: all 200ms ease-in-out;
            border-radius: var(--button--border-radius);
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .btn--content {
            z-index: 2;

            @include Button;
            position: relative;
            text-transform: uppercase;
        }
    }

    // Facets
    &.btn__primary {
        & {
            background-color: var(--button--primary-background-color);
            color: var(--button--primary-text-color);
            position: relative;

            &:hover, &:focus, &.btn__active {
                background-color: var(--button--primary-hover-background-color);
            }
        }
    }

    &.btn__secondary {
        & {
            background-color: rgba(var(--color--secondary-rgb), 0.1);
            border: solid 1px var(--button--secondary-color);
            color: var(--button--secondary-color);
            padding: calc(var(--button--vert-bezel) - 1px) var(--button--horiz-bezel);

            &:hover, &:focus, &.btn__active {
                background-color: var(--button--secondary-color);
                color: var(--button--secondary-text-color);
            }
        }
    }

    &.btn__danger {
        color: var(--button--danger-color);

        &:hover, &:focus, &.btn__active {
            color: var(--button--danger-text-color);
            background-color: var(--button--danger-color);
        }
    }

    &.btn__flat {
        color: var(--button--flat-color);

        &:hover, &:focus, &.btn__active {
            background-color: var(--button--flat-color);
            color: var(--button--flat-text-color);
        }
    }

    &.btn__full-width {
        width: 100%;
    }

    &.btn__disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    &.btn__icon {
        --uni-color-primary: var(--button--primary-background-color);
        border-radius: 100%;
        width: 48px;
        height: 48px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:hover, &:focus, &.btn__active {
            --uni-color-primary: var(--button--primary-text-color);
            background-color: var(--button--primary-background-color);
        }
    }

    // States
}
