<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible
            content="IE=edge">
    <meta name=viewport
            content="width=device-width,initial-scale=1">
    <link rel=icon
            href=/favicon.ico>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
            rel=stylesheet>
    <link href=https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css
            rel=stylesheet>
    <title>Dashboard 22</title>
    <link href=/css/chunk-067212e6.29911086.css
            rel=prefetch>
    <link href=/css/chunk-35f6874a.94ff99f3.css
            rel=prefetch>
    <link href=/css/chunk-567b2742.29911086.css
            rel=prefetch>
    <link href=/css/chunk-658be36e.58d7ac7d.css
            rel=prefetch>
    <link href=/js/chunk-067212e6.5a1b67f3.js
            rel=prefetch>
    <link href=/js/chunk-35f6874a.30a5e705.js
            rel=prefetch>
    <link href=/js/chunk-567b2742.e835f3f2.js
            rel=prefetch>
    <link href=/js/chunk-658be36e.10d1418c.js
            rel=prefetch>
    <link href=/css/chunk-vendors.33de46fa.css
            rel=preload
            as=style>
    <link href=/js/chunk-vendors.124df7e4.js
            rel=preload
            as=script>
    <link href=/js/main.321c7489.js
            rel=preload
            as=script>
    <link href=/css/chunk-vendors.33de46fa.css
            rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but app doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script>if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
        });
    });
}</script>
<script src=/js/chunk-vendors.124df7e4.js></script>
<script src=/js/main.321c7489.js></script>
</body>
</html>
