<html>
<head>
    <!-- 1) Load D3.js and billboard.js separately -->
    <!-- Load D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Load billboard.js with base(or theme) style -->
    <link rel="stylesheet"
            href="http://naver.github.io/billboard.js/release/latest/dist/billboard.css">
    <script src="http://naver.github.io/billboard.js/release/latest/dist/billboard.js"></script>
</head>
<body>
<div>
    <h2>www.fabs.io</h2>
    <div id="wwwfabsio"></div>
    <script>
        var chart = bb.generate({
            data: {
                url: '/assets/www.fabs.io',
                mimeType: 'json',
                type: 'line'
            },
            bindto: '#wwwfabsio'
        });
    </script>
</div>

<div>
    <h2>www.ipt.ch</h2>
    <a href="/run?page=https://www.ipt.ch" target="_blank">Run</a>
    <div id="wwwiptch"></div>
    <script>
        var chart = bb.generate({
            data: {
                url: '/assets/www.ipt.ch',
                mimeType: 'json',
                type: 'line'
            },
            bindto: '#wwwiptch'
        });
    </script>
</div>
<div>
    <h2>www.datatrans.ch</h2>
    <a href="/run?page=https://www.datatrans.ch" target="_blank">Run</a>
    <div id="wwwdatatransch"></div>
    <script>
        var chart = bb.generate({
            data: {
                url: '/assets/www.datatrans.ch',
                mimeType: 'json',
                type: 'line'
            },
            bindto: '#wwwdatatransch'
        });
    </script>
</div>
<div>
    <h2>www.bindexis.ch</h2>
    <a href="/run?page=https://www.bindexis.ch" target="_blank">Run</a>
    <div id="wwwbindexisch"></div>
    <script>
        var chart = bb.generate({
            data: {
                url: '/assets/www.bindexis.ch',
                mimeType: 'json',
                type: 'line'
            },
            bindto: '#wwwbindexisch'
        });
    </script>
</div>
</body>
</html>
