{% extends 'skeleton.twig' %}

{% block content %}
    <div class="app-layout">
        {% include 'components/header/header.twig' %}

        <div class="app-layout--content">
            {% block app_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
