<component is="notification"
        icon="cog"
        :facets="['success']">
    New Version available
    <small><a class="u-reset link"
                href="{{ versionUrl }}"
                target="_blank"
                aria-label="Latest release url">Check out {{ latestRemoteVersion }}</a></small></p>
</component>
