.header {
    // Vars
    --header-background-color: var(--color--primary);
    --header-text-color: var(--color--primary-text);

    // Support

    // Module
    & {
        & {
            z-index: var(--root-index--navigation);
            position: sticky;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 64px;
            background-color: var(--header-background-color);
            overflow: hidden;
        }

        .header--list {
            display: grid;
            grid-template-areas: '. . . .';
            grid-template-columns: repeat(4, auto);
            grid-gap: calc(var(--root-spacing) * 4);
            padding: calc(var(--root-spacing) * 2) calc(var(--root-spacing) * 3);

            @include mq('<=md') {
                grid-gap: calc(var(--root-spacing) * 2);
            }
        }

        .header--title-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            background-color: var(--color--background-color);
            padding: calc(var(--root-spacing) * 2) calc(var(--root-spacing) * 3);

            @include mq('<=md') {
                display: none;
            }

            &::after {
                content: '';
                z-index: calc(var(--root-index--navigation-title) - 1);
                position: absolute;
                top: 0;
                left: 100%;
                width: 100px;
                height: 100%;
                background-color: var(--color--background-color);
                transform-origin: 50% 0;
                transform: skew(-45deg);
            }
        }

        .header--title {
            z-index: var(--root-index--navigation-title);
            color: var(--header-background-color);
            font-size: 2.4rem;
            font-weight: 700;

            @include mq('<=md') {
                display: none;
            }
        }

        .header--list-item-link {
            position: relative;
            padding: var(--root-spacing);
            color: var(--header-text-color);
            font-size: 1.8rem;
            font-weight: 700;
            transition: all ease-in-out 200ms;

            @include mq('<=md') {
                font-size: 1.4rem;
            }

            &.header--list-item-link__active {
                color: var(--header-text-color);

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: var(--header-text-color);
                }
            }

            &:hover:not(.header--list-item-link__active) {
                color: var(--header-text-color);

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    border-top: solid 1px var(--header-text-color);
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    border-top: solid 1px var(--header-text-color);
                }
            }
        }
    }

    // Facets

    // States
}
