.list-item {
    // Vars
    --list-item--item-even: var(--color--list--item-even);


    // Support

    // Module
    & {
        & {
            display: flex;
            flex-direction: column;
            padding: calc(var(--root-spacing) * 2) var(--root-spacing);

            &:nth-child(even) {
                background-color: var(--list-item--item-even);
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .list-item--caption {
            display: block;
            width: 100%;
            margin-bottom: var(--root-spacing);
        }

        .list-item--content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }


        .list-item--icon {
            margin-right: var(--root-spacing);
        }
    }

    // Facets

    // States
}
