.login {
    // Vars

    // Support

    // Module
    & {
        & {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    // Facets

    // States
}
