.project {
    // Vars

    // Support

    // Module
    & {
        .project--title {
            margin-bottom: 24px;
        }

        .project--content {
            display: grid;
            grid-template-areas: 'left main right';
            grid-template-columns: 2fr 8fr 2fr;
            gap: var(--root-spacing);
        }

        .project--side-bar {
            display: grid;
            gap: var(--root-spacing);
        }

        .project--main-content {
            display: grid;
            gap: var(--root-spacing);
            grid-template-areas: 'left right';
            grid-template-columns: 6fr 6fr;
        }

        .project--history {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .project--settings {
            @include mq('<=md') {
                order: 1;
            }
        }

        .project--average {
            @include mq('<=md') {
                order: 2;
            }
        }

        .project--last-report-radar {
            @include mq('<=md') {
                order: 3;
            }
        }

        .project--action-btn {
            & + .project--action-btn {
                margin-top: var(--root-spacing);
            }
        }
    }

    // Facets

    // States
}
