.project {
    // Vars

    // Support

    // Module
    & {
        .project--title {
            margin-bottom: 24px;
        }

        .project--content {
            display: grid;
            grid-template-areas: 'left main right';
            grid-template-columns: 2fr 8fr 2fr;
            gap: var(--root-spacing);

            @include mq('<=xl') {
                grid-template-columns: 3fr 6fr 3fr;
            }

            @include mq('<=md') {
                grid-template-areas: 'main';
                grid-template-columns: 12fr;
            }
        }

        .project--notifications {
            margin-bottom: var(--root-spacing);
        }

        .project--side-bar {
            display: grid;
            gap: var(--root-spacing);
        }

        .project--main-content {
            display: grid;
            gap: var(--root-spacing);
            grid-template-areas: 'left right';
            grid-template-columns: 6fr 6fr;

            @include mq('xl') {
                grid-template-areas: 'main';
                grid-template-columns: 12fr;
            }
        }

        .project--history {
            grid-column-start: 1;
            grid-column-end: 3;
        }


        .project--average {
            @include mq('<=md') {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        .project--last-report-radar {
            @include mq('<=md') {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        .project--action-btn {
            & + .project--action-btn {
                margin-top: var(--root-spacing);
            }
        }
    }

    // Facets

    // States
}
