.projects {
    // Vars

    // Support

    // Module
    & {
        .projects--list {
            display: grid;
            grid-template-areas: '. . . .';
            grid-template-columns: 3fr 3fr 3fr 3fr;
            row-gap: var(--root-spacing);
            column-gap: var(--root-spacing);
            margin: var(--root-spacing) 0;
        }

        .projects--title-btn {
            max-width: 200px;
        }
    }

    // Facets

    // States
}
