.input-checkbox {
    // Vars
    --input-checkbox--size: 24px;
    --input-checkbox--border-radius: 2px;
    --input-checkbox--color: var(--color--divider);
    --input-checkbox--color-focus: var(--color--divider);
    --input-checkbox--active-color: var(--color-mono-white);
    --input-checkbox--background-active: var(--color--divider);

    // Support

    // Module
    & {
        & {
            display: flex;
            align-items: center;
            padding: var(--root-spacing) 0;
        }

        .input-checkbox--label {
            @include Body1;
            margin-left: var(--root-spacing);
            cursor: pointer;
            margin-bottom: 0;
        }

        .input-checkbox--wrapper {
            display: block;
            border: 2px solid var(--input-checkbox--color);
            width: var(--input-checkbox--size);
            height: var(--input-checkbox--size);
            border-radius: var(----input-checkbox--border-radius);
            cursor: pointer;
            transition: background-color 200ms ease-in-out;
            margin-bottom: 0;
        }

        .input-checkbox--input {
            position: absolute;
            opacity: 0;

            &:checked {
                & + .input-checkbox--svg {
                    background-color: var(--input-checkbox--background-active);
                }

                & + .input-checkbox--svg path {
                    stroke-dashoffset: 0;
                }
            }
        }

        .input-checkbox--svg {
            pointer-events: none;
            transition: background-color 200ms ease-in-out;

            path {
                fill: none;
                stroke: var(--input-checkbox--active-color);
                stroke-width: 4px;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 100;
                stroke-dashoffset: 101;
                transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
            }
        }
    }

    // Facets

    // States
}
